.navbar{
    background-image: linear-gradient(to right,violet , yellow);
    height:  100px;
}

.navbar ul li {
   
    list-style: none;
    display: inline;
    justify-content: space-around;
    padding-left: 30px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: rgb(243, 239, 243);
    font-size: 25px; 
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .lescartes{
 margin: 50px;
  }
  .img{
    height: 100px;
  }
  .logo{
    border-radius: 50%;
    height: 90px;
  }
 